Repository ghostbsd/ghostbsd-src, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jillest, @ngie-eign, @cschuber, @DimitryAndric, @emaste, @bsdjhb, @jmgurney, @dag-erling, @asomers, @juikim, @gshapiro, @bsdimp, @grehan-freebsd, @trasz, @bapt, @bdrewery, @kevans91, @evadot, @hselasky, @glebius, @grimreaper, @gbergling

Update package-version
  sys/conf/package-version
Owners: none

update package-version
  sys/conf/package-version
Owners: none

link /tmp to shm for app line sublime text
  sbin/devfs/devfs.conf
  sys/conf/package-version
Owners: none

Merge pull request #198 from ghostbsd/tmp-shm
  sbin/devfs/devfs.conf
  sys/conf/package-version
Owners: none

Update OS version to 22.10.04
  sys/conf/package-version
Owners: none

Fix os package version
  sys/conf/package-version
Owners: none

Fix nanobsd script for Beaglebone: 1. missing directories in meta specification; 2. correct active partition for beaglebone image
  sys/arm/conf/BEAGLEBONE
  tools/tools/nanobsd/embedded/beaglebone.cfg
  tools/tools/nanobsd/embedded/common
Owners: @bsdimp

Fix failure to attach USB device NS1081
  sys/dev/usb/quirk/usb_quirk.c
  sys/dev/usb/usbdevs
Owners: @hselasky

Update project_automation.yml version
  .github/workflows/project_automation.yml
Owners: none

fixed issue_assigned in project_automation.yml
  .github/workflows/project_automation.yml
Owners: none

Update auto_assign.yml
  .github/auto_assign.yml
Owners: none

.github/CODEOWNERS:

# Please note that the content of this file is strictly advisory.
# No locks listed here are valid.  The only strict review requirements
# are granted by core.  These are documented in head/LOCKS and enforced
# by svnadmin/conf/approvers.
# 
# The source tree is a community effort.  However, some folks go to the
# trouble of looking after particular areas of the tree.  In return for
# their active caretaking of the code it is polite to coordinate changes
# with them.  This is a list of people who have expressed an interest in
# part of the code or listed their active caretaking role so that other
# committers can easily find somebody who is familiar with it.  The notes
# should specify if there is a 3rd party source tree involved or other
# things that should be kept in mind.
# 
# However, this is not a 'big stick', it is an offer to help and a source
# of guidance.  It does not override the communal nature of the tree.
# It is not a registry of 'turf' or private property.
# 
# ***
# This list is prone to becoming stale quickly.  The best way to find the recent
# maintainer of a sub-system is to check recent logs for that directory or
# sub-system.
# ***
# 
# ***
# Maintainers are encouraged to visit:
# https://reviews.freebsd.org/herald
# 
# and configure Phabricator notifications for parts of the tree which they
# maintain.  Notifications can automatically be sent when someone proposes a
# revision or makes a commit to the specified subtree.
# ***

/bin/sh		@jillest
/contrib/atf		@ngie-eign
/contrib/capsicum-test	@ngie-eign
/contrib/googletest	@ngie-eign
/contrib/ipfilter	@cschuber
/contrib/libcxxrt	@DimitryAndric @emaste
/contrib/llvm-project	@DimitryAndric
/contrib/llvm-project/libunwind @DimitryAndric @emaste @bsdjhb
/contrib/llvm-project/lldb @DimitryAndric @emaste
/contrib/llvm-project/openmp @DimitryAndric @emaste
/contrib/netbsd-tests	@ngie-eign
/contrib/netbsd-tests/crypto/opencrypto/	@jmgurney
/contrib/netbsd-tests/kernel/kqueue/	@jmgurney
/contrib/openpam/lib/libpam/		@dag-erling
/contrib/pjdfstest	@ngie-eign @asomers
/crypto/openssh	@dag-erling
/crypto/openssl/	@juikim
/etc/mail	@gshapiro
/etc/sendmail	@gshapiro
/lib/libc/sys/kevent.c	@jmgurney
/lib/libefivar/	@bsdimp
/lib/libfetch	@dag-erling
/lib/libfigpar	@dag-erling
/lib/libpam/		@dag-erling
/lib/libvmmapi	@bsdjhb @grehan-freebsd
/libexec/rc/rc.d/rctl/	@trasz
/sbin/mount_fusefs @asomers
/secure/usr.bin/openssl/	@juikim
/share/mk	@bsdimp @bapt @bdrewery @emaste
/stand/lua	@kevans91
/sys/amd64/pci	@bsdimp @bsdjhb
/sys/amd64/vmm/	@bsdjhb @grehan-freebsd
/sys/arm/allwinner	@evadot
/sys/arm64/rockchip	@evadot
/sys/compat/linprocfs/	@dag-erling
/sys/compat/linuxkpi	@hselasky
/sys/contrib/ipfilter	@cschuber
/sys/crypto/openssl/	@juikim
/sys/dev/drm2	@bsdimp
/sys/dev/iscsi/	@trasz
/sys/dev/pci	@bsdimp @bsdjhb
/sys/dev/sound/usb	@hselasky
/sys/dev/usb	@hselasky
/sys/fs/autofs/	@trasz
/sys/fs/fuse/	@asomers
/sys/fs/procfs/		@dag-erling
/sys/fs/pseudofs/	@dag-erling
/sys/kern/vfs_aio.c	@asomers
/sys/netinet/ip_carp.c	@glebius
/sys/netpfil/pf	@glebius
/sys/opencrypto/	@jmgurney
/sys/x86/pci	@bsdimp @bsdjhb
/tests	@ngie-eign
/tests/sys/aio/	@asomers
/tests/sys/fs/fusefs/ @asomers
/tests/sys/kqueue/	@jmgurney
/tests/sys/opencrypto/	@jmgurney
/tools/build	@bsdimp
/tools/regression/iscsi/	@trasz
/tools/regression/sockets/kqueue/	@jmgurney
/tools/tools/nanobsd	@bsdimp
/usr.bin/fetch	@dag-erling
/usr.bin/rctl/	@trasz
/usr.bin/top	@grimreaper
/usr.sbin/autofs/	@trasz
/usr.sbin/bhyve	@bsdjhb @grehan-freebsd
/usr.sbin/bhyvectl	@bsdjhb @grehan-freebsd
/usr.sbin/bhyveload	@bsdjhb @grehan-freebsd
/usr.sbin/lpr	@gbergling
